{% extends 'layout.html' %}
{% block content %}
<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped">
                    <thead>
                    <tr>
                        <th>扫描平台</th>
                        <th>检测页数</th>
                        <th>搜索词</th>
                        <th>无头模式</th>
                        <th>禁加载图片</th>
                        <th>动态IP</th>
                        <th>动态UA</th>
                        <th>登录模式</th>
                        <th>代理API</th>
                        <th>COOKIES</th>
                        <th>TOKEN</th>
                        <th>登录账号</th>
                        <th>登录密码</th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>百度</td>
                        <td class="text-muted">
                            3页
                        </td>
                        <td class="text-muted">
                            惠普生物
                        </td>
                        <td class="text-green">
                            开启
                        </td>
                        <td class="text-green">
                            开启
                        </td>
                        <td class="text-green">
                            开启
                        </td>
                        <td class="text-green">
                            开启
                        </td>
                        <td class="text-red">
                            关闭
                        </td>
                        <td class="text-muted">
                            http…
                        </td>
                        <td class="text-muted">
                            fgaJ…
                        </td>
                        <td class="text-muted">
                            256F…
                        </td>
                        <td class="text-muted">
                            user…
                        </td>
                        <td class="text-muted">
                            2565…
                        </td>
                        <td>
                            <a href="#">启动</a>
                        </td>
                        <td>
                            <a href="#">停止</a>
                        </td>
                        <td>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>百度</td>
                        <td class="text-muted">
                            3页
                        </td>
                        <td class="text-muted">
                            惠普生物
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            http…
                        </td>
                        <td class="text-muted">
                            fgaJ…
                        </td>
                        <td class="text-muted">
                            256F…
                        </td>
                        <td class="text-muted">
                            user…
                        </td>
                        <td class="text-muted">
                            2565…
                        </td>
                        <td>
                            <a href="#">启动</a>
                        </td>
                        <td>
                            <a href="#">停止</a>
                        </td>
                        <td>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td>百度</td>
                        <td class="text-muted">
                            3页
                        </td>
                        <td class="text-muted">
                            惠普生物
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            开启
                        </td>
                        <td class="text-muted">
                            http…
                        </td>
                        <td class="text-muted">
                            fgaJ…
                        </td>
                        <td class="text-muted">
                            256F…
                        </td>
                        <td class="text-muted">
                            user…
                        </td>
                        <td class="text-muted">
                            2565…
                        </td>
                        <td>
                            <a href="#">启动</a>
                        </td>
                        <td>
                            <a href="#">停止</a>
                        </td>
                        <td>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}