{% extends 'layout_fenci_title.html' %}
{% block content %}
<form action="fenci_receive" method="post">
    <div class="col-md-6 col-xl-4">
    <div class="mb-3">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="在这里输入要添加的主词根">
            <button class="btn" type="submit">添加</button>
        </div>
    </div>
</div>
</form>
<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table table-striped">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>数量</th>
                    <th>最近添加</th>
                    <th>排序</th>
                    <th class="w-1"></th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>医用面膜</td>
                    <td class="text-muted">
                        3968
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>妇科凝胶</td>
                    <td class="text-muted">
                        5980
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">625</a></td>
                    <td class="text-muted">
                        99
                    </td>
                    <td>
                        <a href="#">编辑</a>
                    </td>
                    <td>
                        <a href="#">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
