{% extends 'layout.html' %}
{% block title %}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    MIKASA999
                </div>
                <h2 class="page-title">
                    分词助手
                </h2>
            </div>
            <!-- title 快速按入口按钮 -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <span class="d-none d-sm-inline">
                    <a href="#" class="btn">
                      导出结果
                    </a>
                  </span>
                    <a href="#" class="btn btn-outline-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                       data-bs-target="#modal-report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14"/>
                            <path d="M5 12l14 0"/>
                        </svg>
                        开始分词
                    </a>
                    <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal"
                       data-bs-target="#modal-report" aria-label="Create new report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14"/>
                            <path d="M5 12l14 0"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/index" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">新增关键词</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/zcg" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">主词根预设</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/qxc" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">清洗词预设</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/fywc" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">非业务词根预设</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/ywc" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">核心业务词预设</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <a href="/fenci/fc" class="card card-link card-link-pop">
                                <div class="card-body bg-indigo text-indigo-fg">分词预设</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}